**/.venv
**/.venv/**
**/venv
**/venv/**
**/__pycache__
**/__pycache__/**
*.pyc
*.pyo
*.pyd
*.log
.git/
.azure/
docs/
media/
README.md
LICENSE
index.md
Gemfile*
_config.yml
.github/
.devcontainer/
SUPPORT.md
SECURITY.md
azure.yaml
.gitignore
src/uv.lock